

	body{
		background-image: url("fruitsVeg.jpg") no-repeat fixed;
	
		position: fixed;
			top:50%;
    left:50%;
    transform: translate(-50%, -50%);

	}
	#container
	{
		padding: 10px;
		background-color: rgb(209, 130, 32);
		border-radius: 12px;
		text-align: center;
		
	
	}
	@media screen and (max-width: 600px)
	{
		#container
		{
			width: 100%;
           
		   justify-content: center;
		   background-color: rgb(61, 214, 130);
           padding: 5rem;
           margin-right: 20px;
		   transform: translate(50%, 50%);
		   top:50%;
		   left:50%;
			margin-top:15px;
        }
        
       body{
           font-size: 2em;

       }
       button{
           size: 3em;
           font-size: large;
       }

		
	}

