

	body{
		background-image: url("fruitsVeg.jpg") no-repeat fixed;
	
		width:100%;
		font-size:1.5rem;
		margin:0 auto;
		letter-spacing:0.5px;
		
			
   

	}
.header{
	text-align:center;
	font-weight:300;
	background-color:yellow;
	display:block;
	height:30px;
}

	#container
	{
		padding: 10px;
		background-color: rgb(209, 130, 32);
		border-radius: 12px;
		text-align: center;
		
	
	}
	@media screen and (max-width: 600px)
	{
		#container
		{
			opacity:0.9;
		}
        
       body{
	       width:100%;
           font-size: 2rem;

       }
       button{
           size: 3em;
           font-size: large;
       }

		
	}

